build
build_opencv
opencv-4.5.4
.idea
.vscode
/.vs/maseczeki-pk/v17/RC/Browse.VC.db
/.vs/maseczeki-pk/v17/RC/Browse.VC.db-shm
/.vs/maseczeki-pk/v17/RC/Browse.VC.db-wal
/.vs/maseczeki-pk/v17/RC/Browse.VC.opendb
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
